body{
    background-image: url(painting-mountain-lake-with-mountain-background_188544-9126.avif);
    background-repeat:no-repeat ;
    background-position: center;
    background-attachment:fixed ;
    background-size: cover;
}
h1{color: white;}
p{
    color: white;
}